/* Menu */
.bg-light{
	background-color: #f6e9f2 !important;
  	font-size: 1.5em;
	font-family: "Century Gothic", sans-serif !important;
}

body{
	font-family: "Century Gothic", sans-serif;
	box-sizing: border-box;
}

.active:hover{
	font-size: 1.5em;
	margin: 0;
}
.active{
	padding: 0 1.5em 0 1.5em;
}

#banner{
	-webkit-text-stroke: .022em black;
        padding: 5em 0 0 0;
	font-size: 5em;
	color: white;
        display: flex;
        text-align: center;
        justify-content: center;
}

#spacer{
	padding:  2em 0em 2em 0em;
}
#catch-phrase{
	font-size: 2.5em;
	padding: 7em 0 0 0;
	border-style: none none solid none;
	border: 2px black;
	-webkit-text-stroke: 1px white;
}
#page-container {
  position: relative;
  min-height: 100vh;
  background-image: url(/images/waterColor.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;

}


#content-wrap {
   padding-bottom: 2.5rem;   /* Footer height */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #ADD8E8;
  padding: 10px 0px 10px 50px;
}
a{
	text-decoration: none;
}

#link-box{
	border: 2px solid black;
        font-size: 1.5em;
        color: white;
	-webkit-text-stroke: 1px black;
        width: 100%;
        height: 100%;
	margin: 0;
        display: flex;
	justify-content: center;
	align-items: center;
        background: rgba(255,255,255,.6);
}
#link-box-active{
	text-decoration: none;
        border: 2px solid black;
        font-size: 1.5em;
        color: white;
        -webkit-text-stroke: 1px black;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255,255,255,.4);
}
#link-box-active:hover{
	text-decoration: none;
	background: rgba(255,122,89,.1);
}
#link-box:hover{
	text-decoration: none;
}

#box{
	border: 3px solid black;
}

img{
	width: 100%
}
.icon{
        font-family: 'Brush Script MT', cursive;
        margin: 0 1.5em 0 1.5em;
        text-decoration = none;
        color: black;
        text-decoration = none;
        color: black;
        font-size: 2em
}
.rental-nav{
	background-image: url(/images/waterColor.jpg);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 21vh;
	background-size: cover;
}
#candles{
	background-image: url(/images/candles.jpg);
}
#crochet{
	background-image: url(/images/crochet.jpg);
}
#disk-golf{
	background-image: url(/images/frolf.jpg);
}
.rental{
	display: flex;
	justify-content: center;
	font-family: "Century Gothic", sans-serif;
	background-color: #ADD8E8;
	font-size: 4em
}
.banner-photo{
	background-image: url(/images/waterColorFun.jpg);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 10vh;
	background-size: cover;
}
#candle-banner{
	background-image: url();
}
#disk-golf-banner{
	background-image: url();
}
#crochet-banner{
	background-image: url();
}

.items-list{
	padding: 0 0 0 1.5em;
	font-size: 1.5em;
	list-style-type: square;
}
#button-box{
	border: 2px solid white;
        font-size: 1.5em;
        width: 100%;
        height: 100%;
	margin: o;
	padding: 1em;
        display: flex;
	justify-content: center;
	align-items: center
        font-family: "Century Gothic", sans-serif;
        background: rgba(200,255,255,.6);
}
#button-box:hover{
	text-decoration: none;
	background: rgba(255,122,89,.1);
}
#product{
	max-height: 20vh;
}
.list{
	padding: 0;
	justify-content: center;
}
#tutorial-image{
	max-height: 70vh;
}

@media (min-width: 768px){
	#gallery{
		padding: 0 1.5em 0 1.5em;
		max-height: 50vh;
	}
}
		
